---
// Ruta: /dashboard/contenido/catalogos/[page]
import SidebarLayout from '@layouts/SidebarLayout.astro';
import Indextable from '@components/catalogo/catalogo.astro';
interface pageParams {
  idCatalogo: number;
}
const { params } = Astro;
const idCatalogo = params.idCatalogo;

---
<SidebarLayout title="Mi Aplicación" activeConfig="A">
  <div slot="logo">
    <h1 class="logo-text">Logo</h1>
  </div>

  <div slot="login" class="login-container">

  </div>

  <div class="content" data-page-num={idCatalogo}>
    <Indextable />
  </div>
  <script is:inline>
  const pageNum = document.querySelector('.content').dataset.pageNum;
  console.log("Page Number:", pageNum);
  
  </script>


</SidebarLayout>